.btn,
.jumbotron
 {
  border-radius: 100px;
  background: rgb(1, 21, 59);
}
.nav :hover{
  background: rgb(137, 164, 217);
  color: black;
  border-radius: 100px;
}

body {
  background: #192A56;
}
footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
